<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in to your HRS App!!</p>
<h3>All registered users:</h3>
<ul>
  <li *ngFor="let user of users">
    {{user.username}} ({{user.firstName}} {{user.lastName}})
    <a [ngClass]="[user.username === currentUser.username ? 'edit-show' : 'edit-hide']">Edit</a>
    - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    <div [ngClass]="[user.username === currentUser.username ? 'input-show' : 'input-hide']">
      <input [(ngModel)]="user.firstName" placeholder="First Name" />
      <input [(ngModel)]="user.lastName" placeholder="Last Name" />
    </div>
  </li>
</ul>
